<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
    <div layout:fragment="content" id="data">
        <div class="pull-right">
            <a href="/data/upload" class="btn btn-success">Upload data</a>
        </div>

        <h1>Available data</h1>
        <a class="expand-all">
            <i class="fa fa-expand"></i>
            Expand all</a> -
        <a class="collapse-all">
            <i class="fa fa-compress"></i>
            Collapse all
        </a>
        <div class="box data-container" th:each="data: ${datas}">
            <span class="toggle">
                <i class="fa fa-expand"></i>
            </span>
            <strong th:text="${data}" class="fetch-data"></strong>
            <div class="data-information"></div>
        </div>
    </div>
</body>
</html>
