<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
    <div layout:fragment="content" id="programs">
        <div class="pull-right">
            <a href="/programs/upload" class="btn btn-success">Upload program</a>
        </div>

        <h1>Available programs</h1>
        <div class="box program-container" th:each="program: ${programs}">
            <span class="delete-button delete-program" th:attr="data-name=${program}">
                <i class="fa fa-trash"></i>
            </span>
            <a class="edit-button" th:href="@{/programs/edit(name=${program})}">
                <i class="fa fa-edit"></i>
            </a>
            <strong th:text="${program}" class="program-name fetch-program"></strong>
            <div class="program-information"></div>
        </div>
    </div>
</body>
</html>
