<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
    <div layout:fragment="content">
        <form class="run-creation" th:action="@{/programs/upload}" method="post" th:object="${programCreation}" enctype="multipart/form-data">
            <div class="form-group">
                <label>
                    Name of program
                    <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                </label>
                <input type="text" name="name" th:field="*{name}" class="form-control" th:errorclass="has-error"><br>
            </div>
            <div class="form-group">
                <label>
                    Alias of program
                    <span class="error" th:if="${#fields.hasErrors('alias')}" th:errors="*{alias}">
                </label>
                <input type="text" name="alias" th:field="*{alias}" class="form-control" th:errorclass="has-error"><br>
            </div>
            <div class="form-group">
                <label>
                    Invocation format
                    <span class="error" th:if="${#fields.hasErrors('invocationFormat')}" th:errors="*{invocationFormat}">
                </label>
                <input type="text" name="invocationFormat" th:field="*{invocationFormat}" class="form-control" th:errorclass="has-error"><br>
            </div>
            <div class="form-group">
                <label>
                    Program executable file
                    <span class="error" th:if="${#fields.hasErrors('executableFile')}" th:errors="*{executableFile}">
                </label>
                <input type="file" name="executableFile">
            </div>
            <input type="submit" value="Upload">
        </form>
    </div>
</body>
</html>
