<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
    <div layout:fragment="content">
        <form class="run-creation" th:action="@{/runs/create}" method="post" th:object="${runCreation}">
            <ul class="myAccordion">
                <li class="open">
                    <span class="section-header">
                        <span>Run type</span>
                    </span>
                    <div class="section-content">
                        <h1>Run type</h1>
                        <span class="info">
                            Set the basic run settings below.
                        </span>
                        <div class="form-group">
                            <label>
                                Name of run
                                <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                            </label>
                            <input type="text" name="name" th:field="*{name}" class="form-control"><br>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="mode" th:field="*{mode}" value="clustering" disabled="disabled">
                                Clustering run
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="mode" th:field="*{mode}" value="parameter_optimization">
                                Parameter optimization run
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="mode" th:field="*{mode}" value="dataAnalysis">
                                Data analysis run
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="mode" th:field="*{mode}" value="runAnalysis">
                                Run analysis run
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="mode" th:field="*{mode}" value="" disabled="disabled">
                                Run-data analysis run
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="mode" th:field="*{mode}" value="robustnessAnalysis" disabled="disabled">
                                Robustness analysis run
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="mode" th:field="*{mode}" value="internal_parameter_optimization" disabled="disabled">
                                Internal parameter optimization run
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="section-header">
                        <span>Programs</span>
                    </span>
                    <div class="section-content">
                        <h1>Programs</h1>
                        <select class="select2-multiple" multiple="multiple" name="programs">
                            <option th:each="program : *{allPrograms}" th:value="${program}" th:text="${program}" th:selected="${#lists.contains(runCreation.programs, program)}">
                        </select>
                    </div>
                </li>
                <li>
                    <span class="section-header">
                        <span>Data</span>
                    </span>
                    <div class="section-content">
                        <h1>Data</h1>
                        <div class="form-group">
                            <label>Data configs</label>
                            <select class="select2-multiple" multiple="multiple" name="dataSets">
                                <option th:each="dataSet : *{dataSets}" th:value="${dataSet}" th:text="${dataSet}">
                            </select>
                        </div>

                        <div data-mode="parameter_optimization">
                            <div class="form-group">
                                <label>Quality measures</label>
                                <select class="select2-multiple" multiple="multiple" name="qualityMeasures">
                                    <option th:each="qualityMeasure : *{qualityMeasures}" th:value="${qualityMeasure}" th:text="${qualityMeasure}">
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Optimization criterion</label>
                                <select class="select2-multiple" name="optimizationCriterion">
                                    <option th:each="qualityMeasure : *{qualityMeasures}" th:value="${qualityMeasure}" th:text="${qualityMeasure}">
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Optimization method</label>
                                <select class="select2-multiple" name="optimizationMethod">
                                    <option th:each="optimizationMethod : ${optimizationMethods}" th:value="${optimizationMethod}" th:text="${optimizationMethod}" th:selected="${optimizationMethod} eq ${runCreation.optimizationMethod}">
                                </select>
                            </div>
                        </div>

                        <div data-mode="dataAnalysis">
                            <div class="form-group">
                                <label>Data statistics</label>
                                <select class="select2-multiple" multiple="multiple" name="dataStatistics">
                                    <option th:each="dataStatistic : *{dataStatistics}" th:value="${dataStatistic}" th:text="${dataStatistic}">
                                </select>
                            </div>
                        </div>

                        <div data-mode="runAnalysis">
                            <div class="form-group">
                                <label>Run statistics</label>
                                <select class="select2-multiple" multiple="multiple" name="runStatistics">
                                    <option th:each="runStatistic : *{runStatistics}" th:value="${runStatistic}" th:text="${runStatistic}">
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Unique run identifiers</label>
                                <select class="select2-multiple" multiple="multiple" name="uniqueRunIdentifiers">
                                    <option th:each="uniqueRunIdentifier : *{uniqueRunIdentifiers}" th:value="${uniqueRunIdentifier}" th:text="${uniqueRunIdentifier}">
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="section-header">
                        <span>Other settings</span>
                    </span>
                    <div class="section-content">
                        <input type="submit" value="Create run">
                    </div>
                </li>
            </ul>
        </form>
    </div>
</body>
</html>
