<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
    <div layout:fragment="content">
        <p th:text="'Hello, ' + ${name} + '!'" />

        <div class="row" th:each="run : ${runs}" th:object="${run}">
            <div class="col-md-8">
                <span th:text="*{name}" />
            </div>
            <div class="col-md-4 text-right">
                <form action="#" th:action="@{/runs}" method="post" th:object="${run}">
                    <input type="hidden" name="name" th:value="*{name}">
                    <input type="submit" name="send" value="Perform Run" class="btn btn-primary">
                </form>
            </div>
            <hr>
        </div>
    </div>
</body>
</html>
