<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
    <div layout:fragment="content">
        <div class="pull-right">
            <a href="/runs/create" class="btn btn-success">Create new run</a>
        </div>
        <div class="run-list">
            <th:block th:if="${not #lists.isEmpty(runningRuns)}">
                <h1>Currently running runs</h1>
                <div class="run-container" th:each="runningRun : ${runningRuns}">
                    <div class="run" th:attr="data-name=${runningRun}">
                        <div><span class="name" th:text="${runningRun}" /></div>
                        <form th:action="@{/terminate-run}" method="post">
                            <input type="hidden" name="name" th:value="${runningRun}">
                            <input type="submit" name="send" value="Pause Run" class="btn btn-primary">
                        </form>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span class="sr-only">0% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>

            <th:block th:if="${not #lists.isEmpty(finishedRuns)}">
                <h1>Finished runs</h1>
                <div class="run-container" th:each="finishedRun : ${finishedRuns}">
                    <div class="run">
                        <div><span class="name" th:text="${finishedRun}" /></div>
                        <a class="btn btn-primary" th:href="@{/show-results(name=${finishedRun})}">View results</a>
                        <a class="btn btn-danger delete-run" th:href="@{/delete-run(name=${finishedRun})}">Delete run</a>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="sr-only">100% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>

            <th:block th:if="${not #lists.isEmpty(terminatedRuns)}">
                <h1>Paused runs</h1>
                <div class="run-container" th:each="terminatedRun : ${terminatedRuns}">
                    <div class="run" th:attr="data-name=${terminatedRun}">
                        <div><span class="name" th:text="${terminatedRun}" /></div>
                        <form th:action="@{/resume-run}" method="post">
                            <input type="hidden" name="name" th:value="${terminatedRun}">
                            <input type="submit" name="send" value="Resume Run" class="btn btn-primary">
                        </form>
                        <a class="btn btn-danger delete-run" th:href="@{/delete-run(name=${terminatedRun})}">Delete run</a>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span class="sr-only">0% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>

            <h1>Available runs</h1>
            <div class="run" th:each="run : ${runs}">
                <div><span class="name" th:text="${run}" /></div>
                <form th:action="@{/runs}" method="post">
                    <a class="btn btn-danger pull-right delete-run" th:href="@{/runs/delete(name=${run})}">Delete run</a>
                    <input type="hidden" name="name" th:value="${run}">
                    <input type="submit" name="send" value="Perform Run" class="btn btn-primary">
                    <a class="btn btn-primary" th:href="@{/runs/edit(name=${run})}">Edit run</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
