<div th:fragment="utility-form">
    <div class="form-group">
        <label>
            Name of <span th:text="*{typeName}"></span>
            <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
        </label>
        <input type="text" name="name" th:field="*{name}" class="form-control" th:errorclass="has-error"><br>
    </div>
    <div class="form-group">
        <label>
            File
            <span class="error" th:if="${#fields.hasErrors('file')}" th:errors="*{file}">
        </label>
        <input type="file" name="file">
    </div>
    <input type="hidden" name="typeName" th:field="*{typeName}">
    <input type="submit" value="Upload">
</div>
