<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
    <div layout:fragment="content" id="utilites">
        <h1>Utilities</h1>
        <a class="gray-button full-width" href="/utilities/upload-distance-measure"><i class="fa fa-plus"></i> Upload distance measure</a>
        <a class="gray-button full-width" href="/utilities/upload-data-set-format"><i class="fa fa-plus"></i> Upload data set format</a>
        <a class="gray-button full-width" href="/utilities/upload-data-set-type"><i class="fa fa-plus"></i> Upload data set type</a>
        <a class="gray-button full-width" href="/utilities/upload-run-result-format"><i class="fa fa-plus"></i> Upload run result format</a>
        <a class="gray-button full-width" href="/utilities/upload-data-statistic"><i class="fa fa-plus"></i> Upload data statistic</a>
    </div>
</body>
</html>
